DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=innov_health
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
TAXONOMY_DB_PATH=./ncbi_taxonomy.sqlite
TAXONOMY_CACHE_DB_PATH=./taxonomy_cache.sqlite
